@charset "UTF-8";
/*------------------------------------------------------------------------
File : layout.css
Author : 정시안
Create date : 2024-04-24
Version : 1.0
Editable : O
※ 공통으로 사용 되는 레이아웃 스타일 정의(common)
------------------------------------------------------------------------*/
/* 변수 설정 */
/*------------------------------------------------------------------------
File : module.css
Author : 정시안
Create date : 2024-04-24
Version : 1.0
Editable : O (변수 추가 시, 하단에 추가)
※ CSS변수 선언(ex: 색상, 폰트, 크기)
------------------------------------------------------------------------*/
/* CSS변수 */
:root {
  /* [Color 설정] ------------------------------*/
  --primary: #111;
  --sub: #6664f4;
  --point-01: #27ffab
  /* background-color */
  --bg-basic: ;
  --bg-nav: ;
  --bg-box: ;
  /* font-color */
  --fc-main: #2647b5;
  --fc-sub: #03c4db;
  --fc-basic: #8b90a7;
  --fc-bold: #1e2029;
  --fc-point1: #e3546a;
  /* border-color */
  --bd-basic: #e5e5e5;
  --bd-form: ;
  /* 자주 쓰는 색상 설정 */
  --white: #fff;
  --black: #000;
  --gray1: #111;
  --gray2: #222;
  --gray3: #333;
  --gray4: #444;
  --gray5: #555;
  --gray6: #666;
  --gray7: #777;
  --gray8: #888;
  --gray9: #999;
  /*------------------------------------------------*/
  /* [font-family 설정] -----------------------------*/
  /* 한글 종류 사용: font - 폰트명 */
  --k-ff1: "Pretendard";
  --k-ff2: "DungGeunMo";
  --k-ff3: "S-Core Dream";
  /* 영문 종류 사용: font - 폰트명 */
  --e-ff1: "MavenPro";
  --e-ff2: ;
  /*------------------------------------------------*/
  /* [Size 설정] -----------------------------------*/
  /* 제목 요소 */
  --fc-h1: ;
  --fc-h2: ;
  --fc-h3: ;
  --fc-h4: ;
  --fc-h5: ;
  --fc-h6: ;
  /* 본문 요소 */
  --fs-lg: ;
  --fs-m: ;
  --fs-sm: 16px;
  --fs-xsm: ;
  /*------------------------------------------------*/
}

/* width(태블릿 1920px 기준) */
/* width(태블릿 1400px 기준) => xxl */
/* width(태블릿 1200px 기준) => xl */
/* width(태블릿 1024px 기준) => lg */
/* width(태블릿 768px 기준) => md */
/* width(모바일 576px 기준) => sm */
/* width(모바일 375px 기준) => xs */
/* width(모바일 최소 사이즈 320px 기준) => xxs */
html {
  overflow: auto;
}

body {
  overflow: visible;
  font-family: "Pretendard", "S-Core Dream", san-serif;
}

#wrap {
  overflow: hidden;
  min-width: 144rem;
  width: 100%;
  height: 100%;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
} /* width(태블릿 1400px 기준) => xxl */
@media (max-width: 1400px) {
  .container {
    padding: 0 5rem;
  }
} /* width(태블릿 1024px 기준) => lg */
@media (max-width: 1024px) {
  .container {
    min-width: 320px;
    padding: 0 3rem;
  }
}
/* HEADER 영역 ----------------------------------------------- */
header {
  position: fixed;
  width: 100%;
}
header .header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  padding: 0 5rem;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 7rem;
}
nav ul a {
  font-family: var(--e-ff1);
  font-size: 1.8rem;
  font-weight: 600;
}

/* HEADER 영역 // -------------------------------------------- */
/* aside 영역 ------------------------------------------------ */
aside {
  position: fixed;
  right: 0;
  bottom: 6rem;
  margin-right: 5rem;
  z-index: 999;
}
aside svg {
  width: 7rem;
}

/* aside 영역 // --------------------------------------------- */
/* intro 영역 ------------------------------------------------ */
.intro {
  position: relative;
  height: 100vh;
}

.mv {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
}
.mv .verti-txt {
  position: absolute;
  left: 0;
  font-size: 1.7rem;
  font-weight: 600;
  transform: rotate(90deg);
}
.mv .mv--img {
  display: flex;
  justify-content: center;
}
.mv .mv--img svg {
  width: 10.7rem;
}
.mv .slogan__txt {
  font-family: var(--k-ff2);
  font-size: 8rem;
}

@keyframes flow-txt {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}
.flow-txt {
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6rem;
  background-color: #000;
}
.flow-txt div {
  display: flex;
  overflow: hidden;
  position: absolute;
  width: 200%;
  animation: flow-txt 18s linear infinite;
}
.flow-txt span {
  width: 50rem !important;
  font-family: var(--e-ff1);
  font-size: 2rem;
  line-height: 6rem;
  color: #fff;
}

/* intro 영역 // --------------------------------------------- */
section:not(:first-child) {
  position: relative;
  font-size: 10rem;
}

/* about 영역 ------------------------------------------------ */
/* about 영역 // --------------------------------------------- */