@charset "UTF-8";
/*------------------------------------------------------------------------
File : module.css
Author : 정시안
Create date : 2024-04-24
Version : 1.0
Editable : O (변수 추가 시, 하단에 추가)
※ CSS변수 선언(ex: 색상, 폰트, 크기)
------------------------------------------------------------------------*/
/* CSS변수 */
:root {
  /* [Color 설정] ------------------------------*/
  --primary: #111;
  --sub: #6664f4;
  --point-01: #27ffab;
  /* font-color */
  --fc-main: #2647b5;
  --fc-sub: #03c4db;
  --fc-basic: #8b90a7;
  --fc-bold: #1e2029;
  --fc-point1: #00ff5a;
  /* border-color */
  --bd-basic: #e5e5e5;
  --bd-form: ;
  /* 자주 쓰는 색상 설정 */
  --white: #fff;
  --black: #000;
  --gray1: #111;
  --gray2: #222;
  --gray3: #333;
  --gray4: #444;
  --gray5: #555;
  --gray6: #666;
  --gray7: #777;
  --gray8: #888;
  --gray9: #999;
  /*------------------------------------------------*/
  /* [font-family 설정] -----------------------------*/
  /* 한글 종류 사용: font - 폰트명 */
  --k-ff1: "Pretendard";
  --k-ff2: "DungGeunMo";
  --k-ff3: "SCDream";
  /* 영문 종류 사용: font - 폰트명 */
  --e-ff1: "MavenPro";
  /*------------------------------------------------*/
  /* [Size 설정] -----------------------------------*/
  /* 제목 요소 */
  --fc-h1: ;
  --fc-h2: ;
  --fc-h3: ;
  --fc-h4: ;
  --fc-h5: ;
  --fc-h6: ;
  /* 본문 요소 */
  --fs-lg: ;
  --fs-m: ;
  --fs-sm: 16px;
  --fs-xsm: ;
  /*------------------------------------------------*/
}