@charset "UTF-8";
@import 'module.css';
@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.typing:after {
  display: inline-block;
  margin-top: -1rem;
  margin-left: 2rem;
  vertical-align: middle;
  content: "";
  background: #000;
  width: 3px;
  height: 8rem;
  animation: blink infinite 1s ease;
}

/* intro 영역 ------------------------------------------------ */
.intro {
  position: relative;
  height: 100vh;
}

.mv {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
}
.mv .verti-txt {
  position: absolute;
  left: 0;
  font-size: 1.7rem;
  font-weight: 600;
  transform: rotate(90deg);
}
.mv .mv--img {
  display: flex;
  justify-content: center;
}
.mv .mv--img svg {
  width: 10.7rem;
  height: auto;
}
.mv .slogan__txt {
  font-family: var(--k-ff2);
  font-size: 8rem;
}

.slogan__txt #typedTxt {
  display: inline-block;
  position: relative;
}

.slogan__txt #typedTxt::after {
  display: block;
  position: absolute;
  top: 0;
  right: -10px;
  width: 4px;
  height: 100%;
  content: "";
  background-color: #000;
}

.slogan__txt #typedTxt.active::after {
  display: none; /*active 클래스가 있으면 보이지 않음*/
}

@keyframes flow-txt {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}
.flow-txt {
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6rem;
  background-color: #000;
}
.flow-txt div {
  display: flex;
  overflow: hidden;
  position: absolute;
  width: 200%;
  animation: flow-txt 18s linear infinite;
}
.flow-txt span {
  width: 50rem !important;
  font-family: var(--e-ff1);
  font-size: 2rem;
  line-height: 6rem;
  color: #fff;
}

/* intro 영역 // --------------------------------------------- */
section:not(:first-child) {
  position: relative;
  font-size: 10rem;
}

/* about 영역 ------------------------------------------------ */
@keyframes alarmHover {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(20deg);
  }
  20% {
    transform: rotate(-20deg);
  }
  30% {
    transform: rotate(10deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(5deg);
  }
  60% {
    transform: rotate(-5deg);
  }
  70% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.about {
  display: flex;
  justify-content: center;
  position: relative;
  height: 100vh;
}

.about__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

.about01 {
  background: url("../images/main/grid_bg.jpg") repeat;
}

.about01-txt {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.about01-txt p {
  font-family: var(--k-ff2);
  font-size: 4rem;
  color: #fff600;
}

.code-c-01 {
  color: #00ff5a;
}

.code-c-02 {
  color: #ffa200;
}

.code-c-03 {
  color: #ff4359;
}

.code-c-04 {
  color: #fe3fee;
}

.code-c-05 {
  color: #fff;
}

.about01-img {
  display: flex;
  align-items: center;
  position: relative;
  width: 87.8rem;
  height: 70.1rem;
}
.about01-img .inner {
  display: flex;
  position: absolute;
  top: 0;
  width: 77.2rem;
  height: 45.3rem;
  margin-top: 1.6rem;
  margin-left: 1.6rem;
  border-radius: 1.8rem 1.8rem 0 0;
}
.about01-img .list__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  padding: 0 6rem;
}
.about01-img ul {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.about01-img ul li {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.about01-img ul li:hover span {
  animation-name: alarmHover;
  animation-duration: 1s;
}
.about01-img ul li:hover a {
  color: #00ff5a;
}
.about01-img ul li button,
.about01-img ul li a {
  font-family: var(--k-ff2);
  font-size: 2.8rem;
  color: #fff;
}
.about01-img ul li span {
  display: flex;
  align-items: center;
}
.about01-img .character--img {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

@keyframes rotateAni {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.about02 {
  position: relative;
  background-color: #000;
}
.about02 .about02-txt__wrap {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}
.about02 .about02-txt__wrap .inner {
  position: absolute;
  width: 100%;
  height: 42rem;
}
.about02 .about02-txt__wrap .inner span {
  position: absolute;
}
.about02 .about02-txt__wrap .inner span:first-child {
  left: -5%;
  z-index: 5;
}
.about02 .about02-txt__wrap .inner span:last-child {
  right: -5%;
  bottom: 0;
  z-index: 0;
}
.about02 .about02--txt {
  display: block;
}
.about02 .about02--txt svg {
  width: 120rem;
}
.about02 .about02--txt svg path {
  fill: #fff;
}
.about02 #txtGray {
  opacity: 0.1;
}
.about02 .floating {
  position: absolute;
}
.about02 .floating.item01 {
  display: inline-block;
  top: 7%;
  right: 18%;
  width: 18.9rem;
  height: 18.9rem;
}
.about02 .floating.item01:after, .about02 .floating.item01:before {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  background-repeat: no-repeat;
}
.about02 .floating.item01:after {
  background: url("../images/main/about02_item01_01.png");
  animation: rotateAni 10s infinite linear;
}
.about02 .floating.item01:before {
  z-index: 1;
  background: url("../images/main/about02_item01_02.png");
}
.about02 .floating.item02 {
  display: inline-block;
  top: 22%;
  right: 5%;
  width: 22rem;
  height: 18rem;
  background: url("../images/main/about02_item02.png") no-repeat;
}
.about02 .floating.item03 {
  display: inline-block;
  bottom: 10%;
  left: 15%;
  width: 25rem;
  height: 24rem;
  background: url("../images/main/about02_item03.png") no-repeat;
}

.swiper.card {
  width: 65rem;
  height: 65rem;
}
.swiper.card .swiper-slide {
  border-radius: 6rem;
}

/* optionally hide arrows until image is displayed */
.mfp-s-loading .mfp-arrow {
  display: none;
}

/* about 영역 // --------------------------------------------- */
/* portfolio 영역 ------------------------------------------------ */
#scrollBg_01 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 150vh;
}
#scrollBg_01 .inner {
  position: absolute;
}
#scrollBg_01 .pofol__txt__wrap p {
  line-height: 1;
  text-align: center;
}
#scrollBg_01 .pofol__txt__wrap p:nth-child(2) {
  margin-top: 8rem;
  font-family: var(--k-ff3);
  font-size: 5rem;
  font-weight: 600;
  letter-spacing: -0.5rem;
  color: var(--sub);
}
#scrollBg_01 .pofol__txt__wrap p:nth-child(3) {
  margin-top: 7rem;
  font-family: var(--k-ff1);
  font-size: 3rem;
}
#scrollBg_01 .big-txt {
  display: block;
  position: relative;
}
#scrollBg_01 .big-txt:after {
  position: absolute;
  bottom: -2rem;
  left: 50%;
  z-index: -1;
  width: 70rem;
  height: 3.3rem;
  background: url("../images/main/underline.svg");
  content: "";
  transform: translateX(-50%);
}
#scrollBg_01 .star--img {
  display: inline-block;
  position: relative;
  width: 7.5rem;
  height: 9.2rem;
}
#scrollBg_01 .star--img:before, #scrollBg_01 .star--img:after {
  display: inline-block;
  position: absolute;
  background: url("../images/main/star.svg") center/contain no-repeat;
  content: "";
}
#scrollBg_01 .star--img:before {
  left: 0;
  width: 5.5rem;
  height: 5.5rem;
}
#scrollBg_01 .star--img:after {
  right: 0;
  bottom: 0;
  width: 3.6rem;
  height: 3.6rem;
}

/* parallax__cont */
#parallax__cont {
  width: 100%;
}

.parallax__item__num {
  position: absolute;
  right: 20px;
  bottom: 20px;
  font-size: 1vw;
}

.parallax__item__imgWrap {
  overflow: hidden;
  position: relative;
  width: 50%;
  margin-right: 30%;
  padding-bottom: 26.25%;
  background: #000;
}

.parallax__item__img {
  position: absolute;
  top: -5%;
  left: -5%;
  width: 110%;
  height: 110%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  filter: saturate(0%);
  transition: all 1s;
}

.parallax__item__img:hover {
  filter: saturate(100%);
  transform: scale(1.025);
}

.parallax__item__desc {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100;
  margin-top: 10vw;
  margin-right: 2vw;
  margin-left: -4vw;
  font-size: 3vw;
  line-height: 1.4;
  word-break: keep-all;
}

@keyframes bounce {
  to {
    transform: translateX(7px);
  }
}
#scrollBg_02 {
  height: 100%;
  margin: 0;
}
#scrollBg_02 ul li {
  display: flex;
  justify-content: flex-start !important;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100vh;
}
#scrollBg_02 .pofol-item__info {
  display: flex;
  flex-direction: column;
  max-width: 160rem;
  width: 100%;
  margin: 0 auto;
  font-family: var(--k-ff1);
  line-height: 1;
  color: #fff;
}
#scrollBg_02 .pro-name-tit {
  font-family: var(--e-ff1);
  font-size: 1.6rem;
  font-weight: 200;
  opacity: 0.6;
}
#scrollBg_02 .pro--name {
  margin: 2rem 0 3rem;
  font-size: 4rem;
  font-weight: 600;
}
#scrollBg_02 .pro-client {
  font-size: 2rem;
}
#scrollBg_02 .pofol-role {
  display: flex;
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 400;
  opacity: 0.8;
  gap: 1rem;
}
#scrollBg_02 .pofol-role span {
  display: flex;
  align-items: center;
  position: relative;
  padding-right: 1rem;
}
#scrollBg_02 .pofol-role span:not(:last-child):after {
  display: inline-block;
  position: absolute;
  right: 0;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  content: "";
}
#scrollBg_02 .pofol-role .design {
  position: relative;
}
#scrollBg_02 .pofol-role .design:before {
  display: inline-block;
  position: absolute;
  content: "";
}
#scrollBg_02 .pofol-link__list {
  display: flex;
  margin-top: 5rem;
  font-size: 1.6rem;
  gap: 6rem;
}
#scrollBg_02 .pofol-link__list a {
  display: flex;
  align-items: center;
  font-weight: 600;
}
#scrollBg_02 .pofol-link__list a:hover .arrow {
  animation: bounce 0.4s 0.1s cubic-bezier(0, 0, 0.18, 0.99) infinite alternate;
}
#scrollBg_02 .pofol-link__list .arrow {
  display: inline-block;
  position: relative;
  width: 14px;
  height: 14px;
  margin-left: 1rem;
}
#scrollBg_02 .pofol-link__list .arrow i:before, #scrollBg_02 .pofol-link__list .arrow i:after {
  display: block;
  position: absolute;
  background: var(--btn-icon);
  transition: all 0.1s;
  background-color: #fff;
}
#scrollBg_02 .pofol-link__list .arrow i.arrow-hori::before, #scrollBg_02 .pofol-link__list .arrow i.arrow-hori::after {
  left: 12px;
  width: 1px;
  height: 8px;
  content: "";
}
#scrollBg_02 .pofol-link__list .arrow i.arrow-verti::before, #scrollBg_02 .pofol-link__list .arrow i.arrow-verti::after {
  top: 50%;
  width: 50%;
  height: 1px;
  content: "";
  transform: translateY(-50%);
}
#scrollBg_02 .pofol-link__list .arrow .arrow-hori:before {
  top: 0;
  transform: rotate(-45deg);
}
#scrollBg_02 .pofol-link__list .arrow .arrow-hori:after {
  bottom: 0;
  transform: rotate(45deg);
}
#scrollBg_02 .pofol-link__list .arrow .arrow-verti:before {
  left: 0;
}
#scrollBg_02 .pofol-link__list .arrow .arrow-verti:after {
  right: 0;
}
#scrollBg_02 .pofol-item {
  background-repeat: no-repeat;
  background-size: cover;
}
#scrollBg_02 .item01 {
  background-image: url("../images/main/portfolio_jointree_img01.jpg");
}
#scrollBg_02 .item02 {
  background-image: url("../images/main/portfolio_jointree_img02.jpg");
}
#scrollBg_02 .item03 {
  background-image: url("../images/main/portfolio_osang_img01.jpg");
}
#scrollBg_02 .item04 {
  background-image: url("../images/main/portfolio_osang_img02.jpg");
}
#scrollBg_02 .item05 {
  background-image: url("../images/main/portfolio_osang_img03.jpg");
}
#scrollBg_02 .item06 {
  background-image: url("../images/main/portfolio_osang_img04.jpg");
}
#scrollBg_02 .item07 {
  background-image: url("../images/main/portfolio_masstige_img01.jpg");
}

/* portfolio 영역 //----------------------------------------------- */
/* 모달창 공통 스타일 */
.modal {
  display: none;
}
.modal.active {
  display: block;
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}
.modal.active .site-modal__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
}
.modal.active .site-modal__inner {
  position: relative;
  min-width: 32rem;
  width: 100rem;
  height: 60rem;
  padding: 5rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 3rem;
  background: #131316;
}
.modal .modal__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-bottom: 2rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.modal .about01-modal--tit {
  font-family: var(--k-ff3);
  font-size: 2.5rem;
  font-weight: 700;
  color: #fff;
}

.modal-btn--close {
  display: inline-block;
  position: relative;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  transition: 0.2s ease;
}
.modal-btn--close:hover {
  background-color: #27ffab;
}

.close--i {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.close--i:before, .close--i:after {
  display: inline-block;
  position: absolute;
  width: 2px;
  height: 12px;
  content: "";
  background-color: #fff;
}
.close--i:before {
  transform: rotate(45deg);
}
.close--i:after {
  transform: rotate(-45deg);
}

/* 모달창 공통 스타일 // */
/* 수상내역 swiper */
.prize-pop__swiper {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  padding-bottom: 7rem;
}
.prize-pop__swiper .swiper-container {
  width: 100%;
  height: 93%;
}
.prize-pop__swiper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  font-size: 18px;
  text-align: center;
  gap: 5rem;
}
.prize-pop__swiper .swiper-slide p {
  min-width: 30rem;
  width: 40%;
  height: 90%;
}
.prize-pop__swiper .swiper-slide img {
  border-radius: 1rem;
}
.prize-pop__swiper .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background: transparent;
  opacity: 1;
}
.prize-pop__swiper .swiper-pagination-bullet-active {
  width: 40px;
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.4);
  transition: width 0.5s;
}
.prize-pop__swiper .swiper-control {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
.prize-pop__swiper .swiper-pagination {
  margin-bottom: 3rem;
}
.prize-pop__swiper .swiper-button-next,
.prize-pop__swiper .swiper-button-prev {
  color: #fff;
}

.prize__info {
  width: 40%;
  font-family: var(--k-ff1);
  text-align: left;
  color: #fff;
}
.prize__info li {
  font-size: 1.5rem;
}
.prize__info li:not(:last-child) {
  margin-bottom: 1rem;
}

/* 수행 프로젝트 내역 */
.work-list {
  height: 80%;
  margin-top: 3rem;
  font-size: 1.5rem;
  color: #fff;
  overflow-y: auto;
}
.work-list--tit {
  font-family: var(--k-ff3);
  font-size: 1.8rem;
  font-weight: 600;
}
.work-list ul {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.work-list ul div {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  font-family: var(--k-ff1);
  opacity: 0.6;
  gap: 4rem;
}
.work-list ul div span:not(:last-child) {
  position: relative;
}
.work-list ul div span:not(:last-child):after {
  display: inline-block;
  position: absolute;
  width: 1px;
  height: 80%;
  margin: 2px 0 0 2rem;
  content: "";
  background-color: rgba(255, 255, 255, 0.2);
}
.work-list ul a {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.5rem 2rem;
  border: 1px solid var(--point-01);
  border-radius: 2rem;
  font-family: var(--k-ff1);
  font-weight: 700;
  color: var(--point-01);
  transition: 0.3s;
}
.work-list ul a:hover {
  color: #1c5740;
  background-color: var(--point-01);
}