@charset "UTF-8";
/* intro 영역 ------------------------------------------------ */
.intro {
  position: relative;
  height: 100vh;
}

.mv {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
}
.mv .verti-txt {
  position: absolute;
  left: 0;
  font-size: 1.7rem;
  font-weight: 600;
  transform: rotate(90deg);
}
.mv .mv--img {
  display: flex;
  justify-content: center;
}
.mv .mv--img svg {
  width: 10.7rem;
  height: auto;
}
.mv .slogan__txt {
  font-family: var(--k-ff2);
  font-size: 8rem;
}

.slogan__txt #typedTxt {
  display: inline-block;
  position: relative;
}

.slogan__txt #typedTxt::after {
  display: block;
  position: absolute;
  top: 0;
  right: -10px;
  width: 4px;
  height: 100%;
  content: "";
  background-color: #000;
}

.slogan__txt #typedTxt.active::after {
  display: none; /*active 클래스가 있으면 보이지 않음*/
}

@keyframes flow-txt {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}
.flow-txt {
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6rem;
  background-color: #000;
}
.flow-txt div {
  display: flex;
  overflow: hidden;
  position: absolute;
  width: 200%;
  animation: flow-txt 18s linear infinite;
}
.flow-txt span {
  width: 50rem !important;
  font-family: var(--e-ff1);
  font-size: 2rem;
  line-height: 6rem;
  color: #fff;
}

/* intro 영역 // --------------------------------------------- */
section:not(:first-child) {
  position: relative;
  font-size: 10rem;
}

/* about 영역 ------------------------------------------------ */
.about {
  display: flex;
  justify-content: center;
  position: relative;
  height: 100vh;
}

.about__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

.about01 {
  background: url("../images/main/grid_bg.jpg") repeat;
}

.about01-txt {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.about01-txt p {
  font-family: var(--k-ff2);
  font-size: 4rem;
  color: #fff600;
}

.code-c-01 {
  color: #00ff5a;
}

.code-c-02 {
  color: #ffa200;
}

.code-c-03 {
  color: #ff4359;
}

.code-c-04 {
  color: #fe3fee;
}

.code-c-05 {
  color: #fff;
}

.about01-img {
  display: flex;
  align-items: center;
  position: relative;
  width: 87.8rem;
  height: 70.1rem;
}
.about01-img .inner {
  display: flex;
  position: absolute;
  top: 0;
  width: 77.2rem;
  height: 45.3rem;
  margin-top: 1.6rem;
  margin-left: 1.6rem;
  border-radius: 1.8rem 1.8rem 0 0;
}
.about01-img .list__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 6rem;
}
.about01-img .list__wrap ul {
  display: flex;
  flex-direction: column;
  gap: 6rem;
}
.about01-img .list__wrap ul li a {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.about01-img .list__wrap ul li span {
  font-family: var(--k-ff2);
  font-size: 2.8rem;
  color: #fff;
}
.about01-img .list__wrap .list__r a {
  display: flex;
  flex-direction: row-reverse;
}
.about01-img .character--img {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

@keyframes rotateAni {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.about02 {
  position: relative;
  background-color: #000;
}
.about02 .about02-txt__wrap {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}
.about02 .about02-txt__wrap .inner {
  position: absolute;
  width: 100%;
  height: 42rem;
}
.about02 .about02-txt__wrap .inner span {
  position: absolute;
}
.about02 .about02-txt__wrap .inner span:first-child {
  left: -5%;
  z-index: 5;
}
.about02 .about02-txt__wrap .inner span:last-child {
  right: -5%;
  bottom: 0;
  z-index: 0;
}
.about02 .about02--txt {
  display: block;
}
.about02 .about02--txt svg {
  width: 120rem;
}
.about02 .about02--txt svg path {
  fill: #fff;
}
.about02 #txtGray {
  opacity: 0.1;
}
.about02 .floating {
  position: absolute;
}
.about02 .floating.item01 {
  display: inline-block;
  top: 7%;
  right: 18%;
  width: 18.9rem;
  height: 18.9rem;
}
.about02 .floating.item01:after, .about02 .floating.item01:before {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  background-repeat: no-repeat;
}
.about02 .floating.item01:after {
  background: url("../images/main/about02_item01_01.png");
  animation: rotateAni 10s infinite linear;
}
.about02 .floating.item01:before {
  z-index: 1;
  background: url("../images/main/about02_item01_02.png");
}
.about02 .floating.item02 {
  display: inline-block;
  top: 22%;
  right: 5%;
  width: 22rem;
  height: 18rem;
  background: url("../images/main/about02_item02.png") no-repeat;
}
.about02 .floating.item03 {
  display: inline-block;
  bottom: 10%;
  left: 15%;
  width: 25rem;
  height: 24rem;
  background: url("../images/main/about02_item03.png") no-repeat;
}

.swiper.card {
  width: 65rem;
  height: 65rem;
}
.swiper.card .swiper-slide {
  border-radius: 6rem;
}

/* about 영역 // --------------------------------------------- */