/* intro 영역 ------------------------------------------------ */
.intro {
    position: relative;
    height: 100vh;
}
.mv {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    .verti-txt {
        position: absolute;
        left: 0;
        font-size: 1.7rem;
        font-weight: 600;
        transform: rotate(90deg);
    }
    .mv--img {
        display: flex;
        justify-content: center;
        svg {
            width: 10.7rem;
        }
    }
    .slogan__txt {
        font-family: var(--k-ff2);
        font-size: 8rem;
    }
}
@keyframes flow-txt {
    0% {
        left: 0;
    }
    100% {
        left: -100%;
    }
}
.flow-txt {
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 6rem;
    background-color: #000;
    div {
        display: flex;
        overflow: hidden;
        position: absolute;
        width: 200%;
        animation: flow-txt 18s linear infinite;
    }
    span {
        width: 50rem !important;
        font-family: var(--e-ff1);
        font-size: 2rem;
        line-height: 6rem;
        color: #fff;
    }
}

/* intro 영역 // --------------------------------------------- */
section:not(:first-child) {
    position: relative;
    font-size: 10rem;
}
/* about 영역 ------------------------------------------------ */
.about {
    display: flex;
    justify-content: center;
    position: relative;
    height: 100vh;
}
.about__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
}
// about01
.about01 {
    background: url('../images/main/grid_bg.jpg') repeat;
}
.about01-txt {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    p {
        font-family: var(--k-ff2);
        font-size: 4rem;
        color: #fff600;
    }
}
.code-c-01 {
    color: #00ff5a;
}
.code-c-02 {
    color: #ffa200;
}
.code-c-03 {
    color: #ff4359;
}
.code-c-04 {
    color: #fe3fee;
}
.code-c-05 {
    color: #fff;
}
.about01-img {
    display: flex;
    align-items: center;
    position: relative;
    width: 87.8rem;
    height: 70.1rem;
    .inner {
        display: flex;
        position: absolute;
        top: 0;
        width: 77.2rem;
        height: 45.3rem;
        margin-top: 1.6rem;
        margin-left: 1.6rem;
        border-radius: 1.8rem 1.8rem 0 0;
    }
    .list__wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0 6rem;
        ul {
            display: flex;
            flex-direction: column;
            gap: 6rem;
            li {
                a {
                    display: flex;
                    align-items: center;
                    gap: 2rem;
                }
                span {
                    font-family: var(--k-ff2);
                    font-size: 2.8rem;
                    color: #fff;
                }
            }
        }
        .list__r {
            a {
                display: flex;
                flex-direction: row-reverse;
            }
        }
    }
    .character--img {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 100%;
        height: 100%;
    }
}
// about02
.about02 {
    position: relative;
    background-color: #000;
    .about02-txt {
        svg {
            width: 109.4rem;
            color: #fff;
        }
    }
    .about02-txt:first-child {
        color: #fff;
    }
}
.swiper.card {
    width: 65rem;
    height: 65rem;
    .swiper-slide {
        border-radius: 6rem;
    }
}
/* about 영역 // --------------------------------------------- */
