/* intro 영역 ------------------------------------------------ */
.intro {
    position: relative;
    height: 100vh;
}
.mv {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    .verti-txt {
        position: absolute;
        left: 0;
        font-size: 1.7rem;
        font-weight: 600;
        transform: rotate(90deg);
    }
    .mv--img {
        display: flex;
        justify-content: center;
        svg {
            width: 10.7rem;
            height: auto;
        }
    }
    .slogan__txt {
        font-family: var(--k-ff2);
        font-size: 8rem;
    }
}
.slogan__txt #typedTxt {
    display: inline-block;
    position: relative;
}
// 커서모양
.slogan__txt #typedTxt::after {
    display: block;
    position: absolute;
    top: 0;
    right: -10px;
    width: 4px;
    height: 100%;
    content: '';
    background-color: #000;
}
.slogan__txt #typedTxt.active::after {
    display: none; /*active 클래스가 있으면 보이지 않음*/
}

@keyframes flow-txt {
    0% {
        left: 0;
    }
    100% {
        left: -100%;
    }
}
.flow-txt {
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 6rem;
    background-color: #000;
    div {
        display: flex;
        overflow: hidden;
        position: absolute;
        width: 200%;
        animation: flow-txt 18s linear infinite;
    }
    span {
        width: 50rem !important;
        font-family: var(--e-ff1);
        font-size: 2rem;
        line-height: 6rem;
        color: #fff;
    }
}

/* intro 영역 // --------------------------------------------- */
section:not(:first-child) {
    position: relative;
    font-size: 10rem;
}
/* about 영역 ------------------------------------------------ */
.about {
    display: flex;
    justify-content: center;
    position: relative;
    height: 100vh;
}
.about__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
}
// about01
.about01 {
    background: url('../images/main/grid_bg.jpg') repeat;
}
.about01-txt {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    p {
        font-family: var(--k-ff2);
        font-size: 4rem;
        color: #fff600;
    }
}
.code-c-01 {
    color: #00ff5a;
}
.code-c-02 {
    color: #ffa200;
}
.code-c-03 {
    color: #ff4359;
}
.code-c-04 {
    color: #fe3fee;
}
.code-c-05 {
    color: #fff;
}
.about01-img {
    display: flex;
    align-items: center;
    position: relative;
    width: 87.8rem;
    height: 70.1rem;
    .inner {
        display: flex;
        position: absolute;
        top: 0;
        width: 77.2rem;
        height: 45.3rem;
        margin-top: 1.6rem;
        margin-left: 1.6rem;
        border-radius: 1.8rem 1.8rem 0 0;
    }
    .list__wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0 6rem;
        ul {
            display: flex;
            flex-direction: column;
            gap: 6rem;
            li {
                a {
                    display: flex;
                    align-items: center;
                    gap: 2rem;
                }
                span {
                    font-family: var(--k-ff2);
                    font-size: 2.8rem;
                    color: #fff;
                }
            }
        }
        .list__r {
            a {
                display: flex;
                flex-direction: row-reverse;
            }
        }
    }
    .character--img {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 100%;
        height: 100%;
    }
}

// about02
@keyframes rotateAni {
    from {
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.about02 {
    position: relative;
    background-color: #000;
    .about02-txt__wrap {
        display: flex;
        align-items: center;
        position: relative;
        width: 100%;
        .inner {
            position: absolute;
            width: 100%;
            height: 42rem;
            span {
                position: absolute;
                &:first-child {
                    left: -5%;
                    z-index: 5;
                }
                &:last-child {
                    right: -5%;
                    bottom: 0;
                    z-index: 0;
                }
            }
        }
    }
    .about02--txt {
        display: block;
        svg {
            width: 120rem;
            path {
                fill: #fff;
            }
        }
    }
    #txtGray {
        opacity: 0.1;
    }
    .floating {
        position: absolute;
        &.item01 {
            display: inline-block;
            top: 7%;
            right: 18%;
            width: 18.9rem;
            height: 18.9rem;
            &:after,
            &:before {
                position: absolute;
                width: 100%;
                height: 100%;
                content: '';
                background-repeat: no-repeat;
            }
            &:after {
                background: url('../images/main/about02_item01_01.png');
                animation: rotateAni 10s infinite linear;
            }
            &:before {
                z-index: 1;
                background: url('../images/main/about02_item01_02.png');
            }
        }
        &.item02 {
            display: inline-block;
            top: 22%;
            right: 5%;
            width: 22rem;
            height: 18rem;
            background: url('../images/main/about02_item02.png') no-repeat;
        }
        &.item03 {
            display: inline-block;
            bottom: 10%;
            left: 15%;
            width: 25rem;
            height: 24rem;
            background: url('../images/main/about02_item03.png') no-repeat;
        }
    }
}
.swiper.card {
    width: 65rem;
    height: 65rem;
    .swiper-slide {
        border-radius: 6rem;
    }
}
/* about 영역 // --------------------------------------------- */

/* portfolio 영역 ------------------------------------------------ */
.pofol__txt__wrap {
    margin-top: 18rem;
    p {
        line-height: 1;
        text-align: center;
        &:nth-child(2) {
            margin-top: 6rem;
            font-family: var(--k-ff3);
            font-size: 5rem;
            font-weight: 600;
            letter-spacing: -0.5rem;
            color: var(--sub);
        }
        &:nth-child(3) {
            margin-top: 5rem;
            font-family: var(--k-ff1);
            font-size: 3rem;
            letter-spacing: -0.2rem;
        }
    }
}
.pofol__img__wrap {
}

/* portfolio 영역 //----------------------------------------------- */

/* parallax__cont */
#parallax__cont {
    width: 100%;
}
// .parallax__item {
//     width: 100%;
//     height: 100vh;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     position: relative;
// }
.parallax__item__num {
    position: absolute;
    right: 20px;
    bottom: 20px;
    font-size: 1vw;
}
.parallax__item__imgWrap {
    overflow: hidden;
    position: relative;
    width: 50%;
    margin-right: 30%;
    padding-bottom: 26.25%;
    background: #000;
}
.parallax__item__img {
    position: absolute;
    top: -5%;
    left: -5%;
    width: 110%;
    height: 110%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    filter: saturate(0%);
    transition: all 1s;
}
.parallax__item__img:hover {
    filter: saturate(100%);
    transform: scale(1.025);
}
.parallax__item__desc {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 100;
    margin-top: 10vw;
    margin-right: 2vw;
    margin-left: -4vw;
    font-size: 3vw;
    line-height: 1.4;
    word-break: keep-all;
}
#scrollBg_02 {
    position: relative;
    width: 100%;
    height: 100vh;
    border: 10px solid;
    .parallax__item {
        width: 100%;
        &.item02 {
            background-color: red;
        }
        &.item03 {
            background-color: blue;
        }
        &.item04 {
            background-color: blue;
        }
    }
}
.panels {
    overflow: scroll;
    // will kill scrollTrigger if scroller: ".panels" is not set
    // required for scroll-snap // dev remove on last panel for content after?
    height: 100vh;
    width: 100%;
    scroll-snap-type: y mandatory;
}

.panel {
    scroll-snap-align: start;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    &.active {
        // todo - hook
    }
}

.clip {
    position: sticky;
    height: 0;
    width: 100%;
    top: 0;
    margin-bottom: 0;
}
.clip {
    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        object-fit: cover;
        object-position: center center;
        z-index: 1;
    }
}


a {
    color: white;
    text-decoration: none;
    cursor: pointer;
    transition: all ease 0.25s;
}

// .controls {
//     position: fixed;
//     bottom: 40px;
//     right: 40px;
//     z-index: 2;
//     font-size: 30px;
//     font-family: courier, mono;
//     // background:red;
//     display: flex;
//     flex-wrap: wrap;
//     a.disabled {
//         opacity: 0.5;
//         pointer-events: none;
//     }
//     .down {
//         //	background:blue;
//     }
//     a {
//         display: block;
//         width: 36px;
//         height: 36px;
//         line-height: 36px;
//         border-radius: 36px;
//         text-align: center;
//         background: rgba(0, 0, 0, 0);
//         &:first-child {
//             margin-right: -8px;
//         }
//     }
// }

span.note {
    position: fixed;
    bottom: 40px;
    right: calc(20px + 120px);
    z-index: 2;
}